<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.labSystem.mappers.GroupMapper">

    <resultMap type="com.example.labSystem.domain.Group" id="GroupMap">
        <result property="groupId" column="groupId" jdbcType="INTEGER"/>
        <result property="groupName" column="groupName" jdbcType="VARCHAR"/>
        <result property="groupLeader" column="groupLeader" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="deleteFlag" jdbcType="INTEGER"/>
        <result property="reportFlag" column="reportFlag" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryGroups" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="com.example.labSystem.dto.MeetingsDto">
        SELECT groupName, groupLeader, reportFlag, startDate, endDate, location, organizerAccount
        FROM `groups`
    </select>

    <select id="queryGroupsList" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.String">
        SELECT groupName
        FROM `groups`
        WHERE deleteFlag = 0
    </select>

    <select id="queryCountByPage" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM `groups`
        WHERE deleteFlag = 0
    </select>

    <select id="queryGroupsByPage" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="com.example.labSystem.dto.GroupDto">
        SELECT g.groupName, COUNT(u.userId) AS memberCount, reportFlag,
                (SELECT u.userName FROM users u WHERE u.account = g.groupLeader ) AS leaderName
        FROM `groups` g
        LEFT JOIN users u
        ON g.groupName = u.groupName
        AND u.deleteFlag = 0
        AND g.deleteFlag = 0
        <if test="groupName != null and groupName != ''">
            AND groupName = #{groupName}
        </if>
        GROUP BY g.groupName, g.groupLeader, g.reportFlag
        <if test="size != null and size != ''" >
            LIMIT #{size} OFFSET #{offset};
        </if>
    </select>

</mapper>