<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.labSystem.mappers.RecordMapper">

    <resultMap type="com.example.labSystem.domain.Record" id="RecordMap">
        <result property="recordId" column="recordId" jdbcType="INTEGER"/>
        <result property="startDate" column="startDate" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="endDate" jdbcType="TIMESTAMP"/>
        <result property="reportDate" column="reportDate" jdbcType="TIMESTAMP"/>
        <result property="signDuration" column="signDuration" jdbcType="INTEGER"/>
        <result property="statusType" column="statusType" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryStatusType" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT statusType
        FROM record
        WHERE account = #{account}
        ORDER BY recordId DESC
            LIMIT 1
    </select>

    <select id="querySignDurationToDayAll" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.Double">
        SELECT
            ROUND(SUM(CASE WHEN statusType = 1 THEN CASE WHEN signDuration > 480 THEN 0 ELSE signDuration END
                     ELSE CASE WHEN TIMESTAMPDIFF(MINUTE, startDate, NOW()) > 480 THEN 0 ELSE TIMESTAMPDIFF(MINUTE, startDate, NOW()) END
                END) / 60, 1) AS signDuration
        FROM record
        WHERE account = #{account}
          AND reportDate = CURDATE()
    </select>

    <select id="querySignDurationWeekAll" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.Double">
        SELECT
            ROUND(SUM(CASE WHEN statusType = 1 THEN CASE WHEN signDuration > 480 THEN 0 ELSE signDuration END
                     ELSE CASE WHEN TIMESTAMPDIFF(MINUTE, startDate, NOW()) > 480 THEN 0 ELSE TIMESTAMPDIFF(MINUTE, startDate, NOW()) END
                END) / 60, 1) AS signDuration
        FROM record
        WHERE account = #{account}
          AND YEARWEEK(reportDate, 1) = YEARWEEK(CURDATE(), 1);
    </select>

    <select id="querySignDurationMonthAll" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.Double">
        SELECT
            ROUND(SUM(CASE WHEN statusType = 1 THEN CASE WHEN signDuration > 480 THEN 0 ELSE signDuration END
                     ELSE CASE WHEN TIMESTAMPDIFF(MINUTE, startDate, NOW()) > 480 THEN 0 ELSE TIMESTAMPDIFF(MINUTE, startDate, NOW()) END
                END) / 60, 1) AS signDuration
        FROM record
        WHERE account = #{account}
          AND MONTH(reportDate) = MONTH(CURDATE())
          AND YEAR(reportDate) = YEAR(CURDATE())
    </select>

    <select id="querySignDurationWeek" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="com.example.labSystem.dto.RecordSonDto">
        SELECT
        a.date AS `day`, IFNULL(b.signDuration, 0) AS signDuration
        FROM (
        SELECT DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 1 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 2 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 3 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 4 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 5 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 6 - WEEKDAY(CURDATE()) DAY) AS date
        ) a
        LEFT JOIN (
        SELECT
        SUM(signDuration) AS signDuration,
        DATE_FORMAT(reportDate, '%Y-%m-%d') AS reportDate
        FROM record
        WHERE DATE_FORMAT(reportDate, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
        <if test="account != null and account != ''">
            AND account = #{account}
        </if>
        GROUP BY DATE_FORMAT(reportDate, '%Y-%m-%d')
        ) b ON a.date = b.reportDate;
    </select>

    <select id="querySignDurationWeekByUser" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.Integer">
        SELECT
            SUM(CASE WHEN statusType = 1 THEN CASE WHEN signDuration > 480 THEN 0 ELSE signDuration END
                     ELSE CASE WHEN TIMESTAMPDIFF(MINUTE, startDate, NOW()) > 480 THEN 0 ELSE TIMESTAMPDIFF(MINUTE, startDate, NOW()) END
                END) AS signDuration
        FROM record
        WHERE account = #{account}
          AND YEARWEEK(reportDate, 1) = YEARWEEK(CURDATE(), 1)  -- 使用 YEARWEEK 判断本周的数据
    </select>

    <select id="querySignDurationWeekByGroup" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="com.example.labSystem.dto.RecordSonDto">
        SELECT
        a.day, IFNULL(b.signDuration, 0) AS signDuration
        FROM (
        SELECT DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 1 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 2 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 3 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 4 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 5 - WEEKDAY(CURDATE()) DAY) AS date
        UNION ALL
        SELECT DATE_ADD(CURDATE(), INTERVAL 6 - WEEKDAY(CURDATE()) DAY) AS date
        ) a
        LEFT JOIN (
        SELECT
        SUM(signDuration) AS signDuration,
        DATE_FORMAT(reportDate, '%Y-%m-%d') AS reportDate
        FROM record
        WHERE DATE_FORMAT(reportDate, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
        <if test="account != null and account != ''">
            AND account = #{account}
        </if>
        GROUP BY DATE_FORMAT(reportDate, '%Y-%m-%d')
        ) b ON a.day = b.reportDate;
    </select>

    <insert id="insert" keyProperty="recordId" useGeneratedKeys="true">
        insert into record (startDate, endDate, reportDate, signDuration, statusType, account)
        values (#{startDate}, #{endDate} , #{reportDate}, #{signDuration}, #{statusType}, #{account})
    </insert>

    <insert id="attendanceCheckIn">
        insert into record (startDate, reportDate, statusType, account)
        values (now(), DATE(now()), 0, #{account})
    </insert>

    <update id="attendanceCheckOut">
        UPDATE record
        SET endDate = now(),
            signDuration = TIMESTAMPDIFF(MINUTE, startDate, NOW()),
            statusType = 1
        WHERE account = #{account}
          AND statusType = 0
        ORDER BY startDate DESC
        LIMIT 1
    </update>

    <select id="queryOverdueSignInRecords"
            resultType="com.example.labSystem.dto.RecordDto">
        SELECT recordId, account, startDate , ROUND(TIMESTAMPDIFF(SECOND, startDate, NOW()) / 3600, 1) AS signDuration
        FROM record
        WHERE reportDate = CURDATE()
          AND statusType = 0
          AND isReminded = 0
          AND TIMESTAMPDIFF(HOUR, startDate, NOW()) >= 7
    </select>

    <update id="updateIsReminded">
        UPDATE record
        SET isReminded = 1
        WHERE recordId = #{recordId}
    </update>

    <select id="queryCountByPage" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM record r
        LEFT JOIN users u ON r.account = u.account
        WHERE u.deleteFlag = 0
        AND r.statusType = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
            AND r.reportDate BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="userName != null and userName != ''">
            AND u.userName LIKE concat('%', #{userName} ,'%')
        </if>
        <if test="groupName != null and groupName != ''">
            AND u.groupName = #{groupName}
        </if>
    </select>

    <select id="queryRecordByPage" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="com.example.labSystem.dto.RecordExcelDto">
        SELECT u.userName, u.groupName, r.reportDate, ROUND(SUM(r.signDuration) / 60, 1) AS signDuration
        FROM record r
        LEFT JOIN users u ON r.account = u.account
        WHERE u.deleteFlag = 0
        AND r.statusType = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
            AND r.reportDate BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="userName != null and userName != ''">
            AND u.userName LIKE concat('%', #{userName} ,'%')
        </if>
        <if test="groupName != null and groupName != ''">
            AND u.groupName = #{groupName}
        </if>
        GROUP BY r.reportDate, u.userName, u.groupName
        ORDER BY r.reportDate DESC, u.groupName, u.userName ASC
        <if test="size != null and size != ''" >
            LIMIT #{size} OFFSET #{offset};
        </if>
    </select>

</mapper>