<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.labSystem.mappers.RolepermissionsMapper">

    <resultMap type="com.example.labSystem.domain.Rolepermissions" id="RolepermissionsMap">
        <result property="rolePermissionsId" column="rolePermissionsId" jdbcType="INTEGER"/>
        <result property="roleId" column="roleId" jdbcType="INTEGER"/>
        <result property="permissionId" column="permissionId" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryCourseByUserList" parameterType="com.example.labSystem.dto.CommonRequestQto"
            resultType="com.example.labSystem.dto.CourseDro">
        SELECT *
        FROM course
        WHERE account IN
        <foreach item="account" collection="list" open="(" separator="," close=")">
            #{account}
        </foreach>
        AND date = #{date}
    </select>


</mapper>