<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.labSystem.mappers.ReportMapper">

    <resultMap type="com.example.labSystem.domain.Report" id="ReportMap">
        <result property="reportId" column="reportId" jdbcType="INTEGER"/>
        <result property="inputDate" column="inputDate" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="updateDate" jdbcType="TIMESTAMP"/>
        <result property="reportDate" column="reportDate" jdbcType="TIMESTAMP"/>
        <result property="workContent" column="workContent" jdbcType="VARCHAR"/>
        <result property="problems" column="problems" jdbcType="VARCHAR"/>
        <result property="plan" column="plan" jdbcType="VARCHAR"/>
        <result property="achievement" column="achievement" jdbcType="VARCHAR"/>
        <result property="submittedFlag" column="submittedFlag" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 查询某用户某年的 reportDate 和 workContent -->
    <select id="getReportsByAccountAndYear" resultType="com.example.labSystem.domain.Report">
        SELECT reportDate, workContent
        FROM report
        WHERE account = #{account}
                  AND YEAR(reportDate) = #{year}
        ORDER BY reportDate ASC
    </select>

    <select id="getReportYearRecords" parameterType="java.lang.String"
            resultType="com.example.labSystem.domain.Report">
        SELECT workContent, plan
        FROM report
        WHERE account = #{account}
                  AND YEAR(reportDate) = YEAR(CURDATE())
    </select>

    <select id="queryReportSubmitCountYear" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT COUNT(*) AS submitCount
        FROM report
        WHERE account = #{account}
            AND YEAR(reportDate) = YEAR(CURDATE())
          AND submittedFlag = 1;
    </select>


    <select id="queryHasDraft" parameterType="java.lang.String"
            resultType="com.example.labSystem.dto.ReportDto">
        SELECT reportId, workContent, problems, plan
        FROM report
        WHERE submittedFlag = 0
          AND account = #{account}
        ORDER BY reportId DESC
            LIMIT 1;
    </select>

    <insert id="reportSubmit" useGeneratedKeys="true" keyProperty="reportId">
        insert into report (inputDate, reportDate, workContent, problems, plan, achievement, account, submittedFlag)
        values (now(), DATE(now()), #{workContent}, #{problems}, #{plan}, #{achievement}, #{account}, 1)
    </insert>

    <select id="queryCountByPage" parameterType="com.example.labSystem.dto.PageRequestQto"
            resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM report r
        LEFT JOIN users u ON r.account = u.account
        WHERE u.deleteFlag = 0
        AND r.submittedFlag = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
            AND r.reportDate BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="userName != null and userName != ''">
            AND u.userName LIKE concat('%', #{userName} ,'%')
        </if>
        <if test="groupName != null and groupName != ''">
            AND u.groupName = #{groupName}
        </if>
    </select>

    <select id="queryReportByPage" parameterType="com.example.labSystem.dto.PageRequestQto"
            resultType="com.example.labSystem.dto.ReportDto">
        SELECT u.userName, u.groupName, r.reportDate, r.workContent, r.problems, r.plan, r.achievement
        FROM report r
        LEFT JOIN users u ON r.account = u.account
        WHERE u.deleteFlag = 0
        AND r.submittedFlag = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''" >
            AND r.reportDate BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="userName != null and userName != ''">
            AND u.userName LIKE concat('%', #{userName} ,'%')
        </if>
        <if test="groupName != null and groupName != ''">
            AND u.groupName = #{groupName}
        </if>
        ORDER BY r.reportDate DESC, u.groupName, u.userName ASC
        <if test="size != null and size != ''" >
            LIMIT #{size} OFFSET #{offset};
        </if>
    </select>

    <select id="queryReportDailyByAccount" parameterType="java.lang.String"
            resultType="com.example.labSystem.dto.ReportDto">
        SELECT workContent, problems, plan
        FROM report
        WHERE account = #{account}
          AND reportDate = CURDATE()
    </select>

    <select id="queryReportWeeklyByAccount" parameterType="java.lang.String"
            resultType="com.example.labSystem.dto.ReportDto">
        SELECT workContent, problems, plan
        FROM report
        WHERE account = #{account}
          AND YEARWEEK(reportDate, 1) = YEARWEEK(CURDATE(), 1);
    </select>

    <select id="queryNoReportSubmittedToday" parameterType="java.lang.String"
            resultType="com.example.labSystem.dto.UserDto">
        SELECT u.email, u.userName
        FROM users u
         JOIN `groups` g ON u.groupName = g.groupName
         LEFT JOIN report r ON u.account = r.account AND r.reportDate = CURDATE()
        WHERE (r.reportId IS NULL)
          AND u.deleteFlag = 0
          AND u.reportFlag = 1
          AND g.deleteFlag = 0
          AND g.reportFlag = 1
    </select>

    <select id="queryNoReportSubmittedThisWeek" parameterType="java.lang.String"
            resultType="com.example.labSystem.dto.UserDto">
        SELECT u.email, u.userName
        FROM users u
         JOIN `groups` g ON u.groupName = g.groupName
         LEFT JOIN report r ON u.account = r.account
            AND YEARWEEK(r.reportDate, 1) = YEARWEEK(CURDATE(), 1)
        WHERE r.reportId IS NULL
          AND u.deleteFlag = 0
          AND u.reportFlag = 1
          AND g.deleteFlag = 0
          AND g.reportFlag = 1

    </select>

</mapper>